.card:hover{
    transform: scale(1.05);
    
  }
  .myColor{
    background-color: #57765A !important;
  }
  .myColor2{
    background-color:#F9FDF9 !important;
  }
  .myTextColor{
      color:#57765A !important;
  }